<header class="masthead" >
  <div class="site-heading">

    <h1>Coding Blog</h1>
    <span class="subheading">game dev projects</span>
  </div>
</header>
<nav class="navbar navbar-default">
        <ul class="navbar-nav">
          <li class = "nav-item">
            <div class ="nav-active-sword">
            <img style="height:60px; width:40px;" src="/img/active-button.png"></img>
            </div>
             <button a href="#" type="button" class="navbar-link btn navbar-button">
             Home</button>
          </li>
          <li class = "nav-item">
            <div class ="nav-active-sword">
            <img style="height:60px; width:40px;" src="/img/active-button.png"></img>
            </div>
             <button a href="#" type="button" class="navbar-link btn navbar-button-second">Blog Posts</button>
          </li>

           <li class = "nav-item">
            <div class ="nav-active-sword">
            <img style="height:60px; width:40px;" src="/img/active-button.png"></img>
            </div>
             <button a href="#" type="button" class="navbar-link btn navbar-button-third">Source Code</button>
          </li>

          <li class = "nav-item">
            <div class ="nav-active-sword">
            <img style="height:60px; width:40px;" src="/img/active-button.png"></img>
            </div>
             <button a href="#" type="button" class="navbar-link btn navbar-button">
             Projects</button>
          </li>

          <li class = "nav-item">
            <div class ="nav-active-sword">
            <img style="height:60px; width:40px;" src="/img/active-button.png"></img>
            </div>
             <button a href="#" type="button" class="navbar-link btn navbar-button-second">Contact</button>
          </li>
        </ul>
      </nav>